<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.snapperfiche.mobile"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/application_icon" android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar"
    	android:debuggable="true">
        <activity android:name=".AuthenticationActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
		</activity>
        <activity android:name=".RegistrationActivity"
				  android:label="@string/registration_name"
				  android:windowSoftInputMode="adjustResize">
		</activity>
		<activity android:name=".StatusFeed"
				  android:label="@string/statusfeed_name">
		</activity>
		<activity android:name=".StatusDetailActivity"
				  android:label="@string/statusdetail_name">
	  	</activity>
		<activity android:name=".StatusFeedActivity"
				  android:label="@string/statusfeed_name">
		</activity>
		<activity android:name=".PostDetailActivity">
		</activity>
		<activity android:name=".ProfileActivity">
		</activity>
		<activity android:name=".FriendActivity">
		</activity>
		<activity android:name=".ProfileTagsActivity">
		</activity>
		<activity android:name=".TaggedPostsActivity">
		</activity>
		<activity android:name=".UserTaggerActivity">
		</activity>
		<activity android:name=".PostTaggerActivity">
		</activity>
		<activity android:name=".PhotoConfirm"
				  android:label="@string/photoconfirm_name">
		</activity>
		<activity android:name=".FriendTaggerActivity"
				  android:label="@string/friendtaggeractivity_name"
				  android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".CameraView">
		</activity>
		<activity android:name=".Profile">
		</activity>
		<activity android:name=".TestHttpRequest">
		</activity>
		<activity android:name=".CameraActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
		<activity android:name=".ProfileFeedActivity"
				  android:label="@string/activity_profilefeed_name">
		</activity>
		<activity android:name="QuestionActivity"
				  android:label="@string/activity_name_question_landing">
		</activity>
		<activity android:name=".AddUserGroupActivity">
		</activity>
		<activity android:name="FavoritesActivity">
		</activity>
		<activity android:name=".TestActivity">
		</activity>
		<activity android:name=".FacebookConnect">
		</activity>
    </application>
    <!--<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="false"
	/>
	<supports-screens android:anyDensity="true"/>-->
	
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"></uses-sdk>
</manifest> 